@model IEnumerable<WebApplication3.Models.Uye>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <br /><br />
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Soyad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GidilecekSehir)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GidilecekUniversite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bolum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsImkani)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sifre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SifreTekrarı)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Ad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soyad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GidilecekSehir)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GidilecekUniversite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bolum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsImkani)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sifre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SifreTekrarı)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UyeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UyeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UyeID })
        </td>
    </tr>
}

</table>
